<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.serviceModel>
    
    <serviceHostingEnvironment>
      <serviceActivations>
        <add relativeAddress="ResourceSvr.svc" service="MyOAuth.ResourceServer.Svrs.ResourceSvr"/>
      </serviceActivations>
    </serviceHostingEnvironment>
    
    <services>
      <service name="MyOAuth.ResourceServer.Svrs.ResourceSvr">
        <endpoint binding="webHttpBinding"
                    contract="MyOAuth.ResourceServer.Svrs.IResourceSvr"
                    behaviorConfiguration="Rest"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Rest">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
